In [41]:
import pandas as pd
import random

In [42]:
data_path = "./processed_data/pretrain_lab_data.pkl"
data_df = pd.read_pickle(data_path)

In [43]:
subject_id = data_df["SUBJECT_ID"][random.randint(0, len(data_df))]
data_df = data_df[data_df["SUBJECT_ID"] == subject_id]

In [44]:
type_len = 3
types = list(data_df["TYPE"].unique())
type_dfs = []
for t in types:
    t_df = data_df[data_df["TYPE"] == t]
    start_id = random.randint(0, len(t_df) - type_len)
    type_dfs.append(t_df[start_id: start_id + type_len])

In [45]:
show_df = pd.concat(type_dfs)
show_df

,SUBJECT_ID,HADM_ID,DATETIME,NDC,TYPE,ICD9_CODE,ITEMID,VALUENUM,VALUEUOM,FLAG
2401180,4961,156050,2142-11-12 00:00:00,00264751010,MED,NaN,NaN,NaN,NaN,NaN
2401181,4961,156050,2142-11-12 00:00:00,10019003783,MED,NaN,NaN,NaN,NaN,NaN
2401182,4961,156050,2142-11-12 00:00:00,00338001702,MED,NaN,NaN,NaN,NaN,NaN
2401988,4961,156050,2142-11-29 23:00:00,NaN,LAB,NaN,51237.0,1.1,,normal
2401989,4961,156050,2142-11-29 23:00:00,NaN,LAB,NaN,51244.0,13.0,%,abnormal
2401990,4961,156050,2142-11-29 23:00:00,NaN,LAB,NaN,51248.0,30.5,PG,normal
2402009,4961,156050,NaT,NaN,DIAG,51881,NaN,NaN,NaN,NaN
2402010,4961,156050,NaT,NaN,DIAG,99685,NaN,NaN,NaN,NaN
2402011,4961,156050,NaT,NaN,DIAG,85221,NaN,NaN,NaN,NaN
2402025,4961,156050,NaT,NaN,PROC,9604,NaN,NaN,NaN,NaN
2402026,4961,156050,NaT,NaN,PROC,0331,NaN,NaN,NaN,NaN
2402027,4961,156050,NaT,NaN,PROC,9749,NaN,NaN,NaN,NaN